---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h2>Welcome to LeadGen-GPT</h2>
				<p>
					Simple & Powerful AI-Powered Lead Generation & Management for <a
						href="https://openai.com/blog/introducing-gpts"
						target="_blank"
						rel="noreferrer">OpenAI's GPTs</a> .
					With our intuitive no-code solution, you can start leveraging business opportunities immediately.
				</p>
				<div class="hero-btns__container">
					<Button href="#Why" customIcon
						> Why?
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<Button href="#Steps" unelevated>Start with 3 simple steps!</Button>
				</div>
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="/assets/images/home/Chat-GPT-Marketing-1.png"
						alt="Astro Odyssey"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 90%;
		height: 90%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>