---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import PlanCard from '../components/cards/PlanCard.astro';

---

<Layout>
	<HomeHeroSection />

	<Container>
		<section class="feature-card__section">
			<h3 id="Why">Why?</h3>
			<p>Every small to medium-sized business and individual entrepreneur can instantly create an intelligent assistant using OpenAI’s GPTs. These assistants provide smart, convenient services to customers within minutes, enhancing user experience and engagement. But how do you capture and manage the valuable leads that your service generates?</p>
			<p>
				Our platform empowers businesses and individual users to effortlessly collect, manage, and utilize leads without any need for coding or technical development. With our intuitive no-code solution, you can start leveraging business opportunities immediately.
			</p>

		</section>
		<section class="feature-card__section">
			<h3 id="Steps">Just 3 Simple Steps</h3>
			<p>Unlock the full potential of your OpenAI GPTs with LeadGen-GPT.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/#"
					imgSrc="/assets/images/home/screenshots/create-form"
					title="Tell Your Requirements"
				>
				</FeatureCard>
				<FeatureCard
					href="/#"
					imgSrc="/assets/images/home/screenshots/api"
					title="Connect Your GPTs"
				>
				</FeatureCard>
				<FeatureCard
					href="/#"
					imgSrc="/assets/images/home/screenshots/dashboard"
					title="Receive Notifications and Monitor"
				>
				</FeatureCard>				
			</div>
		</section>
		<section class="plan-card__section">
			<h3 id="Pricing">Our Plans</h3>
			<div class="plan-card__grid">
			   <PlanCard
				 href="/#"
				 title="Free $0/mo forever"
				 description="Good for individuals."
				 features={['3 Forms', '100 AI credits / month', 'Unlimited Submissions', '3 Widget Integrated Slack, Email, and WeCom']}
			   />
			   <PlanCard
				 href="/#"
				 title="Pro $9.9/mo"
				 description="For freelancers and startups."
				 features={['Unlimited Forms','Unlimited AI credits', 'Make integration and more Widgets comming','Email support']}
			   />
			</div>
		   </section>
		   <div id="getWaitlistContainer" data-waitlist_id="16284" data-widget_type="WIDGET_1"></div>
<link rel="stylesheet" type="text/css" href="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.css"/>
<script src="https://prod-waitlist-widget.s3.us-east-2.amazonaws.com/getwaitlist.min.js"></script>		
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__section h3,
	.feature-card__section p {
    	text-align: center;
	}	
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
	.plan-card__section {
    margin: var(--section-margin) auto;
}
.plan-card__section h3 {
		text-align: center;
	}
.plan-card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--theme-grid-gap);
 }

	@media (max-width: 768px) {
		.plan-card__grid {
		grid-template-columns: 1fr;
		}
	}
</style>
